<h2>Other Links</h2>
<ul>
  <li><a href="https://sitemanager.<%= @host %>" target="_blank">CoreMedia SiteManager</a></li>
  <li><a href="http://<%= @host %>:40080/solr" target="_blank">Solr Admin</a></li>
</ul>

<h2>Repository IORs</h2>
<ul>
  <li><a href="http://<%= @host %>:40180/coremedia/ior" target="_blank">Content Management Server IOR</a></li>
  <li><a href="http://<%= @host %>:40280/coremedia/ior" target="_blank">Master Live Server IOR</a></li>
  <li><a href="http://<%= @host %>:40380/workflow/ior"  target="_blank">Workflow Server IOR</a></li>
</ul>

<h2>JMX Service Addresses</h2>
<p>
  Import <a href="./jmx-java-mission-control.xml">jmx-java-mission-control.xml</a> in Java Mission Control
  (JMC). To start JMC, just call <code>jmc</code> on your console.
</p>
